<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
  <div class="card" style="width: 100%;">
    <div class="card-body">
      <h1 class="card-title">PAGE NOT FOUND</h1>
      <h2>Our robot is confused and does not know where to go</h2>
      <img src="./assets/images/404logo.png" class="rotateImage" />
      <br /><br />
      <p> <a class="bttn-jelly bttn-lg" (click)="goHome()"><i class="fa fa-home"></i> GO HOME</a></p>
    </div>
     
    </div>
</body>
</html>


